.form
    &__wrap
        position: relative
    &__item
        &:not(&:last-child)
            margin-bottom: 24px
    &__title
        font-size: 1.5rem
        line-height: 2rem
        font-weight: 600
        margin-bottom: 12px
    &__description
        font-size: 1rem
        line-height: 1.5rem
        margin-bottom: 24px
        color: #969FA3
    &__status
        font-size: 1rem
        line-height: 1.5rem
        span
            color: #EBB200
    &__text
        font-size: 1rem
        margin-bottom: 12px
        line-height: 1.5rem
        display: flex
        justify-content: space-between
    &__err
        font-size: .8rem
        transition: .3s
        color: #f00
        &_hidden
            opacity: 0
        &_show
            opacity: 1           
    &__arrow
        position: absolute
        top: 4px
        right: 4px
        z-index: 1
        display: flex
        align-items: center
        padding-left: 14px
        height: calc(100% - 8px)
        width: 50px
        background: #fff
        pointer-events: none
        img
            width: 11px
            transform: rotate(0deg)
        .form__arrow_rotate
            transform: rotate(180deg)
    &__input
        &-wrap
            position: relative
        width: 100%
        height: 60px
        border: 1px solid #CED3D6
        border-radius: 12px
        padding: 16px 24px
        font-size: 1.125rem
        line-height: 1.75rem
        color: #1F1F1F
        background-color: #fff            
        &:placeholder
            color: #969FA3
        &:focus, &:hover
            outline: none
            background-color: #fff
    &__desc
        min-height: 180px
        display: block 
        resize: none
        border: none
        &-wrap
            border: 1px solid #CED3D6
            border-radius: 12px
            overflow: hidden
        &::placeholder
            font-family: 'Inter', sans-serif
        &::-webkit-scrollbar
            width: 10px
            background-color: #efefef
        &::-webkit-scrollbar-thumb
            background-color: #007DFF
.conditions
    font-size: 1rem
    color: #969FA3
    position: relative
    &__btn
        width: 100%
        height: 38px
        cursor: pointer
        margin: 16px 0 0
        background-color: #007DFF
        color: #fff
    &__link
        color: #1F1F1F
        cursor: pointer
    label
        display: flex
        align-items: center
    input
        position: absolute
        z-index: -1
        opacity: 0                
    &__box
        border: 1px solid #969FA3
        flex-shrink: 0
        width: 24px
        height: 24px
        margin-right: 8px
        border-radius: 4px
        svg
            width: 100%
            height: 100%
            rect
                fill: #fff
            path
                fill: #fff
    &__check
        border: 1px solid #fff0
        svg
            width: 24px
            height: 24px
            margin: -1px 0px 0px -1px
            rect
                fill: #007DFF
            path
                fill: #fff
    

.modal
    position: relative
    z-index: 5
    &_hidden
        display: none
    &_show
        display: block
    &__close
        position: absolute
        right: 15px
        top: 15px
        cursor: pointer
    .conditions
        font-size: .8rem
        margin-top: 10px
        color: #1F1F1F
        &__box
            transform: scale(.7)
            margin: 0 5px 0 -3px
    position: absolute
    max-width: 350px
    height: 280px
    box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.15)
    background-color: #fff
    top: 0px
    left: 0
    right: 0
    margin: 0 auto   
    padding: 25px 30px 35px 40px
    font-size: 1rem
    &__wrap
        width: 100%
        height: 100%
        overflow: hidden
    &__title
        text-align: center
        margin-bottom: 16px
        font-weight: 500
        max-width: 260px
    &__text
        width: 100%
        height: 180px
        font-size: .8rem
        text-align: justify
        padding-right: 20px
        overflow-y: scroll
        a
            text-decoration: underline
        &::-webkit-scrollbar
            width: 10px
            background-color: #efefef
        &::-webkit-scrollbar-thumb
            background-color: #007DFF
    

@media screen and (max-width: 480px)
    .form
        &__input
            height: 48px
            border-radius: 8px
            padding: 10px 18px
            font-size: 1rem
        &__item
            &:not(.form__item:last-child)
                margin-bottom: 12px
        &__text
            margin-bottom: 4px

.PhoneInputInput
    border: none
    &:focus
        outline: none
        border: none
.PhoneInputCountrySelectArrow
    margin: 0 10px 0 12px